.sidebar {
    position: fixed;
    margin: 5rem auto auto;
    width: 22%;
    height: auto;
    top: 0;
    bottom: 37%;
    right: 0%;
    z-index: 1;
}
.cart {
    padding: .8rem;
    height: auto;
    max-height: 70vh;
    overflow-y: scroll;
}
.cart-header {
    border-bottom: 0.1rem solid #c0c0c0
}
.cart-items {
    padding: 0;
    width: 100%;
    list-style-type: none;
}
.cart-items img {
    width: 4rem;
}
.cart-items li {
    display: flex;
    align-items: center;
}
.cart-items li div {
    padding: .4rem;
}
.cart-items li:div:last-child {
    flex: 1
}
.cart-item-name {
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    padding: 0;   
}
.right {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-align: right;
    font-family: 'Roboto';
}
.btn-remove {
    margin-left: 1rem;
}
.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.total div {
    font-size: 1rem;
    font-weight: 500;
}
.total > div,
.total > button {
    flex: 1;
}
.cart-item-description {
    margin-left: 1.rem;
}
/*Responsive CART*/
.cart-responsive {
    display: none;
    cursor: pointer;
    position: absolute;
    right: -1rem;
    background: #fff;
    padding: 1rem;
    font-size: 30px;
    border-radius: 20px 0px 0px 20px;
}
.cart-responsive.open {
    right: 16rem;
    transition-duration: 1.1s;
}
.cart-content-responsive {
    height: auto;
    display: flex;
    flex-direction: column;
    display: none;
    cursor: pointer;
    position: absolute;
    right: -2rem;
    width: 0rem;
    background: #fff;
    padding: 1rem;
    height: 27rem;
    transition-duration: 1s;
    height: auto;
    max-height: 80vh;
}
.cart-content-responsive,.cart-responsive {
    top: 30%;
}
.cart-bottom-padding {
    padding-bottom: 3rem;
}
.cart-content-responsive.open {
    width: 16rem;
    right: 0;
    width: 16rem;
    transition-duration: 1s;
}  
.cart-responsive.closed {
    right: -1rem;
    transition-duration: 0.9s;
}
.btn-remove,.btn-add {
    padding: 1px 11px;
}
.btn-add {
    margin-left: .4rem;
}
.btn-content {
    display: flex;
}
.btn-cart {
    padding-left: 7px;
    padding-right: 7px;
}
.count-cart {
    position: absolute;
    bottom: 0;
    top: 0.50rem;
    right: 2.20rem;
    font-size: 16px;
    font-weight: 700;
}
@media screen and (max-width: 800px) {
    .sidebar {
        height: 0;
    }
    .cart{
        overflow-y: scroll;
        overflow-x: hidden;
        height: auto;
        max-height: 60vh;
    }
    .cart-bottom-responsive {
        margin-bottom: 2rem;
        margin-top: .39rem;
    }
    .cart.margin-responsive {
        padding-bottom: 5rem;
        margin-bottom: 0rem;
    }
    .cart-items img {
        width: 2rem;   
    }
    .cart-container {
        display: none;
    }
    .cart-content-responsive {
        display: block;
    }
    .cart-responsive {
        display: block;
    }
    .total-text {
        margin-right: 1rem;
    }
    .total-absolute {
        position: absolute;
        background: #fff;
        z-index: 99999;
        right: 0.1rem;
        width: 15.80rem;
        bottom: 0;
    }
}