.main {
  /* flex: 3 1 45rem; */
  height: auto;
  display: block;
  width: 100%;
}
.pokemon_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 2ch;
  column-gap: 2ch;
  list-style-type: none;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: .80rem;
}
.pokemon_items li {
  height: 20rem;
  padding: 0rem;
  background: #fff;
  border-radius: 8px;
  width: 15rem;
}
@media screen and (max-width: 1300px) {
  .pokemon_items {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
  }
}
@media screen and (max-width: 1013px) {
  .pokemon_items {
    justify-content: center;
    grid-template-columns: 1fr 1fr;
  }
  }
@media screen and (max-width: 500px) {
  .pokemon_items {
    justify-content: center;
    grid-template-columns: 1fr 1fr;
  }
  .pokemon_items li {
    width: 14rem;
  }
  input[type=text]{
    width: 100%!important;
  }
}
@media screen and (max-width: 480px) {
  .pokemon_items {
    justify-content: center;
    grid-template-columns: 1fr;
  }
  .pokemon_items li {
    width: 15rem;
  }
}
@media screen and (max-width: 420px) {
  .pokemon_items li{
    width: 100%;
  }
}

