.pokemon_item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 1rem;
    transform: scale(0.9);
    transition: all ease 0.5s;
}
.pokemon_item:hover {
    transform: scale(1);
}
.pokemon_img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pokemon_link {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pokemon_item img {
    max-width: 37rem;
    max-height: 37rem;
}
.pokemon_item_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.pokemon_item_info div,
.pokemon_item_info button {
    text-align: center;
    flex: 1;
}
.pokemon_item_info div {
    font-size: 2rem;
}
.button {
    padding: 1rem;
    border: 0.1rem #c0c0c0 solid;
    background-color: #f0f0f0;
    cursor: pointer;
}
.button.primary {
    background-color: #f0c040;
}
.button:hover {
    border: 0.1rem #808080 
}
.card_image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
}
.card_image img {
    width: 9rem;
    height: 9rem;
}
.pokemon_price {
    width: 70%;
    margin-left: 1rem;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}
.card-title {
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.pokemon_cart {
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .30rem;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
}
.pokemon_cart:hover {
    opacity: 0.8
}
.pokemon_cart h5 {
    font-size: 16px;
    color: #fff;
    padding-left: 2px;
}
.content-button div:last-child {
    background-color: #28a745;
    border-color: #28a745;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner-load{
    margin: 4rem;
}
.justify-title-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}
.justify-title-price h5{
    font-size: 16px;
}
.content-button {
    display: flex;
    justify-content: space-between;
}