/* 
.fixed_nav {
    position: fixed!important;
    z-index: 999!important;
    top: 0;
    left: 0;
    right: 0;
} */
.nav-link {
    font-size: 18px;
    color: #fff!important;
}
.justify_select {
    display: flex;
    justify-content: center;
    align-items: center;
}
.justify_select .text_select {
    margin-right: 1rem;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}
.justify_select select {
    width: 8rem;
}
.hide-padding {
    padding: 0!important;
}