@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');
html {
    box-sizing: border-box;
    font-family: 'Roboto';
}
body,input,select,textarea, button {
    font-size: 1.2rem;
}
body, #root {
    height: 100vh;
    margin: 0;
}
a {
    text-decoration: none!important;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}